.PickYourColor {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    width: 100%;
    height: 100vh;
    background: #333;
  }
  
  .Wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 600px;
  }
  
  .color1 {
    background: #9253a1;
  }
  
  .color2 {
    background: #f063a4;
  }
  
  .color3 {
    background: #2dc5f4;
  }
  
  .color4 {
    background: #fcee21;
  }
  
  .color5 {
    background: #f16164;
  }
  
  .color6 {
    background: #70327e;
  }
  
  .color7 {
    background: #a42953;
  }
  
  .color8 {
    background: #0b6a88;
  }
  
  .color9 {
    background: #f89e4f;
  }
  
  .color10 {
    background: #ec015a;
  }